<div class="container">

    @if(passwordService.password.length > 0) {
        <div class="err">
            Du hast bereits ein Passwort eingegeben, geh wieder zum analysieren
        </div>
        <button mat-raised-button (click)="goAnaly()">
            Zum Analysieren
        </button>
    }
    @if(passwordService.password.length == 0){
        <app-passwordfield></app-passwordfield>
        <app-spy [isRight]="true" [gameStep]="passwordService.currentGameStep" (clickedNext)="passwordService.next()"></app-spy>    
    }
</div>