.container {
        background-image: url('/assets/password/gameback.jpg');
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        app-spy {
            position: absolute;
            bottom: 10%;
            right: 5%;
        }

        .err {
            background-color: #e6e2e2fb;
            color: red;
            font-weight: bolder;
            padding: 50px;
            border-radius: 15px;
            margin-bottom: 30px;
        }
}