<mat-dialog-content class="container">

    <h3>Gebacken!</h3>
    <div class="result">
        <div class="points">
            {{data.points}}
        </div>
        <p style="color: white; font-size: 1.2em;">Punkte erreicht</p>
        <div class="mes">
            {{data.message}}
        </div>
    </div>
    <div>
        <div style="background-color: #444444; border-radius: 10px; padding: 10px; text-align: center;">
            <p>Gut gemacht!</p>
        </div>

        <div class="actions">
            <div class="butt">
                <div class="icon" (click)="continue()">
                    <img src="/assets/cookies/icons/continue.png" />
                </div>
                <div>Zum Cockpit</div>
            </div>

        </div>
    </div>
</mat-dialog-content>