<div class="popup-overlay">
    <div class="popup-content">
      <h2>Terms and agreements</h2>
      <p>
        This service is operated by Funiro. Distribution Limited (we, us or our). We are registered
        in England and Wales under company number 1420028 and have our registered office at
        1 Television Centre, 101 Wood Lane, London W12 7FA. Our VAT number is 333289454. Please read
        these terms and conditions (the Terms) carefully. By accessing and using our website and
        any content and features therein (including without limitation any games, widgets,
        embeddable media players and RSS feeds) (together, our Services), you indicate your
        acceptance of these Terms.
      </p>
      <div class="popup-actions">
        <button class="disagree-button" (click)="disagree()">I disagree</button>
        <button class="agree-button" (click)="agree()">I agree</button>
      </div>
    </div>
</div>
  