<div class="header">

  <mat-grid-list cols="3" rowHeight="60px">
    <mat-grid-tile >
      <div style="width: 100%;display: flex; flex-direction: row; justify-content: flex-start;">
        Willkommen {{ userName }} in deinem Cyber Lab!
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      Score: {{ score }} Punkte
    </mat-grid-tile>

    <mat-grid-tile>
      <div style="width: 100%;display: flex; flex-direction: row; justify-content: flex-end;">
        <button mat-icon-button (click)="clicked()">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </mat-grid-tile>

  </mat-grid-list>

</div>