<div class="cyber-lab-container">
    <app-header [userName]="'Ruhallah'" [score]="150" [progress]="75"></app-header>

    <div class="circle-container">
        <div class="icon dialog"><app-dialog [dialog] ="'Hi, ich bin der Spion! Du musst mir mit meiner Mission helfen. Viel Erfolg'"></app-dialog></div>
        <div class="icon robot"><app-icon imageSrc="./assets/image/AI.png" iconName="AI" link="/AI"></app-icon></div>
        <div class="icon shopping"><app-icon imageSrc="./assets/image/onlineshopping.png" iconName="Online Shopping" link="/AI"></app-icon></div>
        <div class="icon cookies"><app-icon imageSrc="./assets/image/Cookies.png" iconName="Cookies" link="/AI"></app-icon></div>
        <div class="icon security"><app-icon imageSrc="./assets/image/Laptop.png" iconName="Password" link="/AI"></app-icon></div>
        <div class="icon social"><app-icon imageSrc="./assets/image/socialmedia.png" iconName="Social Media" link="/AI"></app-icon></div>
        <div class="icon spion"><app-icon imageSrc="./assets/image/spy.png" iconName="" link=""></app-icon></div>
    </div>
</div>