<mat-grid-list cols="3" rowHeight="fit">
    <mat-grid-tile>
        <app-section-card [iconName]='"computer"'>
        </app-section-card> </mat-grid-tile>
    <mat-grid-tile> <app-speaking-text
            [text]='"Hi, ich bin der Spion! Du musst mir mit meiner Mission helfen. Viel Erfolg"'>

        </app-speaking-text> </mat-grid-tile>
    <mat-grid-tile>
        <app-section-card [iconName]='"smart_toy"'> </app-section-card> </mat-grid-tile>
    <mat-grid-tile>
        <app-section-card [iconName]='"smartphone"'> </app-section-card></mat-grid-tile>
    <mat-grid-tile>
        <app-section-card [iconName]='"fastfood"'> </app-section-card> </mat-grid-tile>
    <mat-grid-tile>
        <app-section-card [iconName]='"shopping_bag"'> </app-section-card> </mat-grid-tile>
</mat-grid-list>