<div class="modal-backdrop">
    <div class="phone-offer-container">
      <h1 class="offer-title">🎉 Deine Nummer, dein Vorteil: 20% sparen!</h1>
      <p class="offer-description">
        Gib deine Handynummer ein, erhalte personalisierte Angebote und sichere dir 20% Rabatt!
      </p>
      <input
        type="text"
        placeholder="Handynummer"
        class="phone-input"
        (click)="onInputClick()"
      />
      <div class="offer-actions">
        <button class="decline-button" (click)="onDecline()">Nein Danke!</button>
      </div>
    </div>
  </div>
  
