.container {
    background-image: url('/assets/scoreboard/background.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    overflow: scroll;

    .list {
        padding: 5% 20%;

        .header {
            background-color: rgba(25, 25, 168, 0.836);
            color: white;
            text-align: center;
            margin-bottom: 50px;
            font-size: xx-large;
            padding: 15px;
        }
        
        .entry {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: white;
            padding: 10px 40px;
            vertical-align: middle;
            margin-top: 10px;
            font-weight: bold;
            font-size: x-large;
        }

        .top3 {
            .medal {
                position: relative;

                img {
                    max-height: 40px;
                    max-width: fit-content;
                    height: auto;
                    width: auto;
                }
            }

            .entry {
                background-color: rgba(73, 173, 231, 0.89);
                padding: 0px 40px;
            }
        }

        .other {
            margin-top: 90px;
            .entry {
                background-color: rgba(25, 25, 168, 0.836);
            }
        }



    }
}