.deals-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;
    background-color: #383535;
    font-family: 'Arial', sans-serif;
    text-align: center;
    align-items: center;

    .flash-sale {
        background-color: #1d1d1d;
        box-shadow: 10px rgba(0, 0, 0, 0.2);
        color: #fff;
        text-align: center;
        padding: 10px 20px;
        font-size: 16px;
        width: 100vw;
        font-weight: bold;
    }

    .title {
        margin-top: 30px;
        font-size: 32px;
        font-weight: bold;
    }

    .subtitle {
        font-size: 18px;
        font-weight: normal;
        opacity: 0.8;
        color: #d6c400;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        padding: 20px 0;
        

        .product-card {
            border-radius: 8px;
            width: 400px; // Adjust based on the desired width
            height: 300px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            position: relative;
            text-align: center;
            margin-bottom: 20px;
            overflow: hidden;
        
            img {
                width: 100%;
                height: auto;
                display: block;
                transition: transform 0.3s ease; 
        
                &:hover {
                    transform: scale(1.05); 
                }
            }
        
            .discount-badge {
                background-color: #f1c40f;
                color: #000;
                font-size: 14px;
                font-weight: bold;
                padding: 2px 10px;
                border-radius: 10px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 10;
            }
            
        
            .product-info {
                position: absolute;
                bottom: 0; // Position at the bottom of the card
                left: 0;
                right: 0;
                background-color: rgba(25, 25, 25,0.9); // Semi-transparent dark background
                color: #fff;
                padding: 10px 15px;
                text-align: left;
                border-bottom-left-radius: 8px; // Maintain rounded corners
                border-bottom-right-radius: 8px;
        
                .product-title {
                    font-size: 20px; 
                    margin-bottom: 5px; 
                }
        
                .pricing {
                    display: flex;
                    align-items: baseline;
        
                    .current-price {
                        font-size: 24px; 
                        font-weight: bold;
                        color: #f1c40f; 
                        margin-right: 10px; 
                    }
        
                    .original-price {
                        font-size: 18px;
                        color: #777;
                        text-decoration: line-through;
                    }
                }
        
                .category-button {
                    background-color: transparent;
                    color: #f1c40f;
                    border: 2px solid #f1c40f;
                    border-radius: 15px;
                    padding: 8px 16px;
                    font-size: 14px;
                    font-weight: bold;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: all 0.3s ease;
        
                    &:hover {
                        background-color: #f1c40f;
                        color: #000;
                    }
                }
            }            
        }        

    }

    .footer {
        position: absolute;
        bottom: 0px;
        background-color: #222;
        color: #fff;
        padding: 10px 20px;
        font-size: 12px;
        width: 100%;
        box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);

        .footer-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 0 auto;
            padding-right: 20px;
            box-sizing: border-box;
        }
    }
}