.book-dialog {
  display: flex;
  height: 100%;
  background-color: #fdf8e2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.left-page {
  border-right: 2px solid #e0cda9;
}

.right-page {
  background-color: #faf3d9;
}

.book-page {
  height: 100%;

  app-page {
    height: 100%;
  }
}