<div class="field">

    <div class="header">
        Los gehts, Agent!
    </div>



    <form>
        <mat-form-field>
            <mat-label>Passwort</mat-label>
            <input type="password" matInput [(ngModel)]="passwordField" placeholder="Passwort" [formControl]="pwdFormControl" [errorStateMatcher]="matcher">
            @if (pwdFormControl.hasError('min') && !pwdFormControl.hasError('required')) {
                <mat-error>Mindestens 6 Zeichen</mat-error>
              }
              @if (pwdFormControl.hasError('required')) {
                <mat-error>Passwort muss eingegeben werden</mat-error>
              }
        </mat-form-field>
    </form>



    <button mat-raised-button (click)="goToAnalyze()">Weiter</button>

</div>