version: "3.9"
services:
  frontend:
    container_name: itbl-frontend
    build:
      context: ..
      dockerfile: frontend/Dockerfile
    ports:
      - "80:5000"
    image: frontend_image:latest
    pull_policy: build
