$breakpoint-medium: 1320px;
.container {
    img {
        width: 17vw;
        height: 17vw;
    }
}

@media (max-width: $breakpoint-medium) {
    .img {
      min-width: 150px;
      min-height: 150px;
  
    }
    
  }