.container {
  background-image: url('/assets/phone/bedroom.png');
  background-size: cover;
  height: 100vh;
  position: relative;
  opacity: 1;
  transition: opacity 0.7s ease-in-out, visibility 0.7s ease-in-out;

  &.hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  .spy-column {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 100%;
    animation: fadeIn 0.7s ease-in-out;
  }
}

.container1 {
  background-image: url('/assets/phone/phonebed.png');
  background-size: cover;
  background-position: center center; /* Ensures the image stays centered */
  height: 100vh;
  position: relative;
  opacity: 1;
  transition: opacity 0.7s ease-in-out, visibility 0.7s ease-in-out;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  .spy-column1 {
    position: absolute;
    bottom: 0%;
    left: 0px;
    width: 100%;
    animation: fadeIn 0.7s ease-in-out;
  }
  .notification-image {
    position: absolute; /* Position relative to the page-container */
    bottom: 8vh; /* Adjust to move the image to the desired position */
    left: 43vw; /* Center horizontally relative to the container */
    width: 20vw;
  }
  .account{
    position: absolute; /* Position relative to the page-container */
    bottom: 9.5vh; /* Adjust to move the image to the desired position */
    left: 43.3vw; /* Center horizontally relative to the container */
    z-index: 10;
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
  }
  .arrowp{
    position: absolute;
    z-index: 12;
  }
  .smallel{
    width: 14vw;       // Width of the ellipse
    height: 4vw;       // Height of the ellipse
    border: 2px solid red; // Red border with 2px thickness
    border-radius: 50%;    // Makes the shape rounded
    background: transparent; // Ensures the inside of the ellipse is transparent
  }
  .bigel{
    width: 20vw;       // Width of the ellipse
    height: 20vw;       // Height of the ellipse
    border: 2px solid red; // Red border with 2px thickness
    border-radius: 50%;    // Makes the shape rounded
    background: transparent; // Ensures the inside of the ellipse is transparent
  }
  .follower{
    bottom: 42vw;
    left: 60vw;
  }
  .followerel{
    bottom: 38vw;
    left: 48vw;
  }
  .bio{
    bottom: 35vw;
    left: 50vw; 
  }
  .scam{
    bottom: 10vw;
    left: 58vw; 
  }
  .scamel{
    bottom: 6vw;
    left: 46vw; 
  }
  .mufollow{
    bottom: 34vw;
    left: 60vw; 
  }
  .mufollowel{
    bottom: 30vw;
    left: 47vw; 
  }
  .post{
    bottom: 25vw;
    left: 60vw; 
  }
  .postel{
    bottom: 5vw;
    left: 43vw; 
  }
  .post1{
    bottom: 25vw;
    left: 60vw; 
  }
  .postel1{
    bottom: 7vw;
    left: 43vw; 
  }
  .tick{
    bottom: 43vw;
    left: 59vw; 
  }
  .middle{
    bottom: 9vw;
    left: 43vw; 
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.btn {
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding: 15px 30px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 2px black;
  transition: opacity 0.7s ease-in-out, visibility 0.7s ease-in-out;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.btn.real {
  background-color: #00ff00; /* Bright green */
  position: absolute;
  top: 50%;
  left: 15%;
}

.btn.fake {
  top: 50%;
  right: 15%;
  position: absolute;
  background-color: #ff0000; /* Bright red */
}

.btn:hover {
  filter: brightness(0.9);
}


:host {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: black; // Matches the fallback
    overflow: hidden; // Avoid unwanted scrollbars
  }
// Define the keyframes for the animation
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  // Apply the animation to the body or a specific element
  .container {
    animation: fadeIn 0.7s ease-in-out;
  }
  
  // For specific elements, use:
  .spy-column {
    animation: fadeIn 0.7s ease-in-out;
  }
  