<div *ngIf="page" class="page-container">
    <div *ngIf="page.content || page.title">
        <h2>{{page.title}} </h2>
        <div [innerHTML]="page.content"></div>
    </div>

    <div class="component-container">
        <ng-template #container></ng-template>
    </div>

    <div class="footer">
        <div *ngIf="!isLeftPage"></div>
        <div *ngIf="isLeftPage && !lexicon.hasPreviousPage()"></div>
        <button mat-icon-button *ngIf="isLeftPage && lexicon.hasPreviousPage()" (click)="previousPage()"><mat-icon
                fontIcon="chevron_left"></mat-icon></button>
        <p> {{ page.pageNumber }} </p>
        <div *ngIf="isLeftPage"></div>
        <div *ngIf="!isLeftPage && !lexicon.hasNextPage()"></div>
        <button *ngIf="!isLeftPage && lexicon.hasNextPage()" mat-icon-button (click)="nextPage()"><mat-icon
                fontIcon="chevron_right"></mat-icon></button>
    </div>

</div>
<div *ngIf="!page" class="page-empty"></div>