<div class="shelf">

    <mat-grid-list class="grid" cols="1" rowHeight="fit">
        <mat-grid-tile style="height: 100%; width: 100%">
            <div class="stufe">
                <div class="ing">
                    <app-ingredient [path]="'flour'"></app-ingredient>
                    <app-ingredient [path]="'water'"></app-ingredient>
                </div>
                <div class="cookie-banner" style="background-color: #2f992f;">
                    Essentielle Cookies
                </div>
            </div>


        </mat-grid-tile>

        <mat-grid-tile style="height: 100%; width: 100%">
            <div class="stufe">
                <div class="ing">
                    <app-ingredient [path]="'milk'"></app-ingredient>
                    <app-ingredient [path]="'butter'"></app-ingredient>
                </div>
                <div class="cookie-banner" style="background-color: #D4E800;">
                    Funktionale Cookies
                </div>
            </div>


        </mat-grid-tile>

        <mat-grid-tile style="height: 100%; width: 100%">
            <div class="stufe">
                <div class="ing">
                    <app-ingredient [path]="'sugar'"></app-ingredient>
                    <app-ingredient [path]="'vanilla'"></app-ingredient>
                </div>
                <div class="cookie-banner" style="background-color: #2a6dd3;">
                    Analyse-Cookies
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile style="height: 100%; width: 100%">
            <div class="stufe">
                <div class="ing">
                    <app-ingredient [path]="'chocolate'"></app-ingredient>
                    <app-ingredient [path]="'sprinkles'"></app-ingredient>
                </div>
                <div class="cookie-banner" style="background-color: #ad2d2d;">
                    Marketing Cookies
                </div>
            </div>
        </mat-grid-tile>

    </mat-grid-list>


</div>