.container{
    position: relative;
    //width: fit-content;
    height: fit-content;
    margin: 0;
}

.sticky {
    position: absolute;
    top: 0; /* Stick it to the top of the reference */
    left: 0; /* Stick it to the left of the reference */
    background-color: lightgreen;
  }