.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/assets/cookies/table.png");
    background-size: cover;
    background-position: center;
}

.ingredients {
    max-width: 100%;
    max-height: 120px;
    display: block;
    background: none;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    background-color: rgba(128, 128, 128, 0.5);
    /* Leichtes Grau mit Transparenz */
    background-blend-mode: overlay;
    border-radius: 20px;
}

.ingredient {
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: grab;
}

.ingredient img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 10px;
}


.bowl {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/cookies/bowl_image.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.bowl h3 {
    margin: 0;
}

.bowl-contents {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 10px;
}

.spy {
    position: absolute;
    left: 80px;
    bottom: 50px;
}



.bake-button {
    background: linear-gradient(135deg, #ffcc33, #ff9966);
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 30px;
    text-transform: uppercase;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    bottom: 100px;
}

.bake-button:hover {
    background: linear-gradient(135deg, #ff9966, #ffcc33);
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.bake-button:active {
    transform: scale(0.98);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
