<div class="container">
  <h2 >Ziehe die Zutaten in die Schüssel!</h2>

  <div class="ingredients" cdkDropList #ingredientDrag="cdkDropList" [cdkDropListData]="ingredients"
    [cdkDropListConnectedTo]="[bowl]" (cdkDropListDropped)="drop($event)">
    @for (ingredient of ingredients; track ingredient) {
    <div class="ingredient" cdkDrag>
      <img [src]="ingredient.image">
    </div>
    }
  </div>



  <!-- Schüssel -->
  <div class="bowl" cdkDropList #bowl="cdkDropList" [cdkDropListData]="bowlContents"
    [cdkDropListConnectedTo]="[ingredientDrag]" (cdkDropListDropped)="drop($event)">
    <div class="bowl-contents">
      @for (ingredient of bowlContents; track ingredient) {
      <div cdkDrag>
        <img [src]="ingredient.image" [alt]="ingredient.name" />
      </div>
      }
    </div>


    <button class="bake-button" *ngIf="buttonVisible" (click)="bake()">Jetzt backen!</button>


    <app-spy class="spy">

    </app-spy>

  </div>