<div class="account-card">
  <!-- Header-Bereich -->
  <header class="profile-header">
    <img [src]="account.avatar" alt="Avatar" class="avatar">
    <div class="profile-info">
      <h2 class="profile-name">{{ account.name }} <img src="assets/phone/blueT.png" alt="Verified" [hidden]="account.tick" class="verified-icon"></h2>
      <div class="profile-stats">
        <div class="stat">
          <span class="stat-number">{{ account.posts }}</span>
          <span class="stat-label">Beiträge</span>
        </div>
        <div class="stat">
          <span class="stat-number">{{ account.followers }}</span>
          <span class="stat-label">Follower</span>
        </div>
        <div class="stat">
          <span class="stat-number">{{ account.following }}</span>
          <span class="stat-label">Gefolgt</span>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Body-Bereich für die Posts -->
  <div class="profile-body">
    <p class="bio">{{ account.bio }}</p>
    <div class="follow-button-container">
      <button class="follow-button">Folgen</button>
    </div>  
    <div class="follower-info">
      <div class="profile-images">
        <img *ngFor="let image of account.folowersImage" [src]="image" alt="Follower Image" class="profile-image">
      </div>
      <p class="follower-text">
        {{ account.fText }}
      </p>
    </div>      
    <div class="posts-container">
      <div class="post" *ngFor="let post of account.postImage">
        <img [src]="post" alt="Post Image">
      </div>
    </div>
  </div>
</div>
